#name: Check changes in binary size
#
#on:
#  push:
#    branches: [ main ]
#    paths-ignore:
#      - 'docs_src/**'
#      - 'README.md'
#      - 'CHANGELOG.md'
#      - 'CITATION'
#      - 'book.toml'
#  pull_request:
#    branches: [ main ]
#    paths-ignore:
#      - 'docs_src/**'
#      - 'README.md'
#      - 'CHANGELOG.md'
#      - 'CITATION'
#      - 'book.toml'
#
#jobs:
#  bloat_test:
#    name: Cargo Fmt and Clippy - Linux
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v2
#      - name: Run cargo bloat
#        uses: orf/cargo-bloat-action@v1
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
